# ЛР №2

### Импорт библиотек

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import warnings
warnings.filterwarnings('ignore')
sns.set(style="ticks")
%matplotlib inline

In [2]:
data = pd.read_csv('heart.csv')

In [3]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1.0,NaN,145.0,233,1,0,150,0,2.3,0,0.0,1.0,1.0
1,37,1.0,NaN,130.0,250,0,1,187,0,3.5,0,0.0,2.0,1.0
2,41,0.0,1.0,130.0,204,0,0,172,0,1.4,2,0.0,2.0,1.0
3,56,1.0,1.0,120.0,236,0,1,178,0,0.8,2,0.0,2.0,1.0
4,57,0.0,0.0,120.0,354,0,1,163,1,0.6,2,0.0,2.0,1.0

In [4]:
data.dtypes

age           int64
sex         float64
cp          float64
trtbps      float64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa         float64
thall       float64
output      float64
dtype: object

In [5]:
data.isnull().sum()
# проверим есть ли пропущенные значения

age         0
sex         1
cp          3
trtbps      4
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     1
slp         0
caa         1
thall       1
output      3
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       302 non-null    float64
 2   cp        300 non-null    float64
 3   trtbps    299 non-null    float64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slp       303 non-null    int64
 11  caa       302 non-null    float64
 12  thall     302 non-null    float64
 13  output    300 non-null    float64
dtypes: float64(7), int64(7)
memory usage: 33.3 KB

### Обработка пропусков

In [7]:
# Удаляем столбцы, которые не несут значимой информации
data.drop(['cp','trtbps'], axis = 1, inplace = True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       302 non-null    float64
 2   chol      303 non-null    int64
 3   fbs       303 non-null    int64
 4   restecg   303 non-null    int64
 5   thalachh  303 non-null    int64
 6   exng      303 non-null    int64
 7   oldpeak   302 non-null    float64
 8   slp       303 non-null    int64
 9   caa       302 non-null    float64
 10  thall     302 non-null    float64
 11  output    300 non-null    float64
dtypes: float64(5), int64(7)
memory usage: 28.5 KB

In [9]:
# Заполняем отсутствующие значения 
data['output'] = data['output'].replace(0,np.nan)
data['output'] = data['output'].fillna(data['output'].mean())

In [10]:
data.head()

,age,sex,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1.0,233,1,0,150,0,2.3,0,0.0,1.0,1.0
1,37,1.0,250,0,1,187,0,3.5,0,0.0,2.0,1.0
2,41,0.0,204,0,0,172,0,1.4,2,0.0,2.0,1.0
3,56,1.0,236,0,1,178,0,0.8,2,0.0,2.0,1.0
4,57,0.0,354,0,1,163,1,0.6,2,0.0,2.0,1.0

In [11]:
data.isnull().sum()
# проверим есть ли пропущенные значения

age         0
sex         1
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     1
slp         0
caa         1
thall       1
output      0
dtype: int64